
body {
 background: #F5F5F5;
}
h1 {
  color: #FFFFFF;
  padding: 60px;
}
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;

  .list {
    list-style: none;
  }

  .link {
    text-decoration: none;
  }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*HEDER*/

.heder-nav-item {
  font-weight: 500;
  font-size: 14px;
  line: height 1.14em;
  letter-spacing: 0.02em;

  color: #2196f3;
}

.heder-tel-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
}

.heder-mail-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #2196f3;
  /*HERO*/
  .hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60 / 44);

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
  }
}
.heder-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87em;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}
.heder-btn:hover {
  position: absolute;
  width: 216px;
  height: 50px;
  left: 692px;
  top: 430px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
/*content*/
.content-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.content-title-before {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: #75757;
}
/* ПУНКТУАЛЬНІСТЬ */
.content-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}
.content-title-before {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71em;
  letter-spacing: 0.03em;
  color: #757575;
}
/* ПЛАНУВАННЯ */
.content-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.content-title-before {
  ont-weight: 400;
  font-size: 14px;
  line-height: 1.71em;
  letter-spacing: 0.03em;
  color: #757575;
}
/* СУЧАСНІ ТЕХНОЛОГІЇ */
.content-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.content-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71em;
  letter-spacing: 0.03em;
  color: #757575;
}
/*Чим ми займаємося*/
.features-title {
  font-weight: 700;
  font-size: 36px;
  line: height 1.16em;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
/* Наша команда */
.title-list {
  font-weight: 700;
  font-size: 36px;
  line: height 1.16em;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.footer-tel-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
}

.footer-mailto-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #2196f3;

  /*Портфоліо*/
  /*Усі */
  .batton-btn {
  font-weight: 500;
font-size: 16px;
line: height 1.62em;
text-align: center;
letter-spacing: 0.03em;
color: #FFFFFF;
 }
 /*Веб-сайти*/
 .batton-btn {
  font-weight: 500;
font-size: 16px;
line: height 1.62em;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
 }
 /*Додатки*/
 .batton-btn {
  font-weight: 500;
font-size: 16px;
line: height 1.62em;;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}
/*Дизайн*/
.batton-btn {
  font-weight: 500;
font-size: 16px;
line-height: 1.62em;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}
/*Маркетинг*/
.batton-btn {
  font-weight: 500;
font-size: 16px;
line-height: 1.62em;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}
/*project*/
.project-title {
font-weight: 700;
font-size: 18px;
line-height: 2.0e;
letter-spacing: 0.06em;
color: #212121;
}
.project-name {
font-weight: 700;
font-size: 18px;
line-height: 2.0em;
letter-spacing: 0.06em;
color: #212121;
}
.projct-about {
  font-weight: 400;
font-size: 16px;
line: height 1.88em;;
letter-spacing: 0.03em;
color: #757575;
}
.project-name {
font-weight: 700;
font-size: 18px;
line-height: 2.0em;
letter-spacing: 0.06em;
color: #212121;
}
.projct-about {
font-weight: 400;
font-size: 16px;
line-height: 1.88em
letter-spacing: 0.03em;
color: #757575;
}
.project-name {
font-weight: 700;
font-size: 18px;
line-height: 2.0em;
letter-spacing: 0.06em;
color: #212121;

}
.projct-about {
font-weight: 400;
font-size: 16px;
line-height: 1.88em
letter-spacing: 0.03em;
color: #757575;
}
.project-name {
  font-weight: 700;
font-size: 18px;
line-height: 2.0em
letter-spacing: 0.06em;
color: #212121;
}
.projct-about {
  font-weight: 400;
font-size: 16px;
line-height: 1.88em;
letter-spacing: 0.03em;
color: #757575;
}
.project-name {
  font-weight: 700;
font-size: 18px;
line-height: 2.0em;
letter-spacing: 0.06em;
color: #212121;
}
.projct-about {
  font-weight: 400;
font-size: 16px;
line-height: 1.88em;
letter-spacing: 0.03em;
color: #757575;
}
.project-name {
  font-weight: 700;
font-size: 18px;
line-height: 2.em;
letter-spacing: 0.06em;
color: #212121;
}
.projct-about {
  font-weight: 400;
font-size: 16px;
line-height: 1.88em;
letter-spacing: 0.03em;
color: #757575;
}
.project-name {
  font-weight: 700;
font-size: 18px;
line-height: 2.0em;
letter-spacing: 0.06em;
color: #212121;
}
.projct-about {
  font-weight: 400;
font-size: 16px;
line-height: 1.88em;
letter-spacing: 0.03em;
color: #757575;
}
.project-name {
  font-weight: 700;
font-size: 18px;
line-height: 2.0em;
letter-spacing: 0.06em;
color: #212121;
}
.projct-about {
  font-weight: 400;
font-size: 16px;
line-height: 1.88em;
letter-spacing: 0.03em;
color: #757575;
}
.project-name {
  font-weight: 700;
font-size: 18px;
line-height: 2.0em;
letter-spacing: 0.06em;
color: #212121;
}
.projct-about {
  font-weight: 400;
font-size: 16px;
line-height: 1.88em;
letter-spacing: 0.03em;
color: #757575;
}
/*FOOTER*/
.footer-mail-link {
  font-weight: 400;
font-size: 14px;
line: height 1.71em;;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}
.footer-tel-link {
  font-weight: 400;
font-size: 14px;
line-height: 1.71em;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}





