


.body {
  
font-family: 'Raleway', sans-serif;
 
  font-family: 'Roboto', sans-serif;
}
.list {
    list-style: none;
    text-decoration: none;
   }
   .link {
    text-decoration: none;
    list-style: none;
  }
  .header-container {
    display:flex
    align-itens: center;
  }
  .header-logo {
    
 font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03px;


text-decoration: none;
  }

.first-part {
  
   font-family: 'Raleway',sans-serif;
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: calc(31/26);
letter-spacing: 0.03em;
color: #2196F3;
}

.last-part {
   font-family: 'Raleway',sans-serif;
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: calc(31/26);
letter-spacing: 0.03em;
color: #000000;

}

  .header-list-item {
 
  font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: calc(16/14);
letter-spacing: 0.02em;
text-decoration: none;
}

.header-mail-list {
  font-weight: 500;
font-size: 14px;
line-height: calc(16/14);
letter-spacing: 0.02em;

color: #2196F3;
text-decoration: none;

}
.header-tel-link {
  font-weight: 500;
font-size: 14px;
line-height:calc(16/14);
letter-spacing: 0.02em;
padding-left: 122px;
padding-right: 16px;

color: #757575;
text-decoration: none;

}
/*Студія*/
 .header-list-link  {
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14px;
letter-spacing: 0.02em;

color: #2196F3;
}
/*Портфолио*/
   .header-list-iteam {
    font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14px;
letter-spacing: 0.02em;

color: #212121;

 }
 /*Контакти*/
 .header-list-link {
   font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14px;
letter-spacing: 0.02em;
color: var(--second-text-color);
}

-----------------------
/*HERO*/

.hero .container {
  width: 1230px;
 color: #ffffff;
background-color: #2F303A;
padding-top: 200px;
padding-bottom: 200px;

text-align: center;
display: block;
}


.hero-title {
  font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: calc(60/44);
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #ffffff;
margin-bottom: 30px;




  text-align: center;
  background-color: #2F303A;
}
.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30/16);
  display: block;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #2196f3;
  margin-bottom:30px;
}
    
  /*section*/
/*УВАГА ДО ДЕТАЛЕЙ*/
.section-title {
  color: var(--defaul-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-top: 94px;
 
  text-align: center;

}
.title {
  
  padding-bottom: 16px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.text {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24/14);
  letter-spacing: 0.03em;
  color: #75757;
  margin-top: 10px;
}
.hero-list-link {
  display: block;
  max-width: 100%;
  height: auto;
  
}


/* Наша команда */

.our-team-lead {
  padding-top: 186px;
  padding-bottom: 94px;
  font-family: 'Roboto' sans-serif;
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 1.17px;
text-align: center;
letter-spacing: 0.03em;
text-decoration: none;
background: url(4853.jpg);

color: #212121;
}

  .pfoto-team-list {
    flex-basis:calc((100%-30px*3)/4);

  }
  .list-team-lead {
    display: flex;
    max-width: 100%;
    gap: 30px;
    
    padding-left:  15px;
    padding-right: 15px;
  }
  .team-lead-name {
    padding-top: 30px;
    padding-bottom: 153px;
    border: radius 4px 0px 4px 4px;
  }
  .team-lead-skill {
   
    padding-bottom: 124px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),0px 1px 1px rgba(0, 0, 0, 0.14),0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

  }
  .list-team-lead {
    flex-wrap: wrap;
  }
  .title-list {
  font-weight: 700;
  font-size: 36px;
  line-height:  1.16em;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
  /*Footer*/
  .main-adress-footer {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .main-part {
    color: var(--hero-text-color);
    font-family: 'Raleway', sans-serif;;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    display: block;
    margin-top: 50px;
    margin-bottom: 20px;
  }
  .footer-main-list {
    margin-top: 9px;
 }
 .main-adress-footer {
  background-color: #2F303A;
  text-decoration: none;
 }
  


/*Студія*/
 .header-list-link  {
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14px;
letter-spacing: 0.02em;

color: #2196F3;
}
/*Портфолио*/
   .header-list-iteam {
    font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14px;
letter-spacing: 0.02em;

color: #212121;

 }
 /*Контакти*/
 .header-list-link {
   font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14px;
letter-spacing: 0.02em;
color: var(--second-text-color);
}

  


  /*Портфоліо*/
 
.boxes {
  position: relative;
padding-top: 88px;
padding-bottom: 346px;
text-align: center;
text-decoration: none;
background: #FFFFFF;
}
  /*Утіліти*/
     .portfolio-button {
      color: #212121;
      background-color: #f5f4fa;
      display: flex;
      
     }
     .hero-btn:hover,
     .hero-btn:focus {
      color: #ffffff;
      background-color: var(--acent-color);
     }
    
  
  /*Усі */
  .batton-btn {
   
  font-weight: 500;
font-size: 16px;
line-height: 1.62em;
text-align: center;
letter-spacing: 0.03em;
color: #FFFFFF;
position: absolute;
background: #2196F3;
text-decoration: none;
 }
 /*Веб-сайти*/
 .batton-btn {
  font-weight: 500;
font-size: 16px;
line-height: 1.62em;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
position: absolute;
text-decoration: none;

 }
 /*Додатки*/
 .batton-btn {
  font-weight: 500;
font-size: 16px;
line-height: 1.62em;;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
text-decoration: none;
}
/*Дизайн*/
.batton-btn {
  font-weight: 500;
font-size: 16px;
line-height: 1.62em;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}
/*Маркетинг*/
.batton-btn {
  font-weight: 500;
font-size: 16px;
line-height: 1.62em;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}

/*Технокряк*/
.boxes-title {
  
font-weight: 700;
font-size: 18px;
line-height: 2.0em;
letter-spacing: 0.06em;
color: #212121;
text-decoration: none;
text-align: center;
}
.boxes-text {
  font-weight: 400;
font-size: 16px;
line-height: 1.88em;
letter-spacing: 0.03em;
color: #757575;
}
/*Постер New Orlean vs Golden Star*/


.boxes-title {
  
  font-weight: 700;
font-size: 18px;
line-height: 2.0em;
letter-spacing: 0.06em;
color: #212121;
}
.boxes-text {
font-weight: 400;
font-size: 16px;
line-height: 1.88em
letter-spacing: 0.03em;
color: #757575;
}
/*Ресторан Seafood*/
.boxes-title {
font-weight: 700;
font-size: 18px;
line-height: 2.0em;
letter-spacing: 0.06em;
color: #212121;

}
.boxes-text {
font-weight: 400;
font-size: 16px;
line-height: 1.88em
letter-spacing: 0.03em;
color: #757575;
}
/*Проєкт Prime*/
.boxes-title {
  font-weight: 700;
font-size: 18px;
line-height: 2.0em
letter-spacing: 0.06em;

}


.boxes-text {
  font-weight: 400;
font-size: 16px;
line-height: 1.88em;
letter-spacing: 0.03em;
color: #757575;
}
/*Проєкт Boxes*/
.boxes-title {
  font-weight: 700;
font-size: 18px;
line-height: 2.0em;
letter-spacing: 0.06em;
color: #212121;
}
.boxes-text {
  font-weight: 400;
font-size: 16px;
line-height: 1.88em;
letter-spacing: 0.03em;
color: #757575;
}
/*Inspiration has no Borders*/
.boxes-title {
  font-weight: 700;
font-size: 18px;
line-height: 2.em;
letter-spacing: 0.06em;
color: #212121;
}
.boxes-text {
  font-weight: 400;
font-size: 16px;
line-height: 1.88em;
letter-spacing: 0.03em;
color: #757575;
}
/*Видання Limited Edition*/
.boxes-title {
  font-weight: 700;
font-size: 18px;
line-height: 2.0em;
letter-spacing: 0.06em;
text-align: center;
color: #212121;
}
.boxes-text {
  font-weight: 400;
font-size: 16px;
line-height: 1.88em;
letter-spacing: 0.03em;
text-align: center;
color: #757575;
}
/*Проєкт LAB*/
.boxes-title {
  font-weight: 700;
font-size: 18px;
line-height: 2.0em;
letter-spacing: 0.06em;
color: #212121;
text-align: center;
}
.boxes-text {
  font-weight: 400;
font-size: 16px;
line-height: 1.88em;
letter-spacing: 0.03em;
color: #757575;
text-align: center;
}
/*Growing Business*/
.boxes-title {
  font-weight: 700;
font-size: 18px;
line-height: 2.0;
letter-spacing: 0.06em;
color: #212121;
}
.boxes-text {
  font-weight: 400;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.03em;
color: #757575;
}
/*FOOTER*/
 .main-adress-footer {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .main-part {
    color: var(--hero-text-color);
    font-family: 'Raleway', sans-serif;;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    display: block;
    margin-top: 50px;
    margin-bottom: 20px;
  }
  .footer-main-list {
    margin-bottom: 9px;
 }
 .main-adress-footer {
  background-color: #2F303A;
  text-decoration: none;
 }
  


