.box {
  
  width: 500px;
  height: 100px;
 
  margin-left: auto;
  margin-right: auto;
}

.body {
  
  font-family: Raleway, sans-serif;
  font-family: Roboto, sans-serif;
  text-decoration: none;
 
 }
 .list {
  text-decoration: none;
 }
 .link {
  text-decoration: none;
 }
.header-container {
  text-decoration: none;
  font-family: Roboto;
font-style: normal;
background: #FFFFFF;
}
.header-logo {
   text-decoration: none;
  
 font-weight: 700;
font-size: 26px;
line-height:calc(31 / 26);
letter-spacing: 0.03em;

}
.logo {
  font-weight: 700;
font-size: 26px;
line-height:calc(31/26)
text-decoration: none;

}
.header-list  {
  text-decoration: none;
  
  font-weight: 500;
font-size: 14px;
line-height: calc(16/14);
letter-spacing: 0.02em;

color: #2196F3;


  
font-weight: 500;
font-size: 14px;
line-height: calc(16/14);
letter-spacing: 0.02em;

color: #212121;
}



.header-mail-list {
  font-weight: 500;
font-size: 14px;
line-height: calc(16/14);
letter-spacing: 0.02em;

color: #2196F3;
text-decoration: none;

}
.header-tel-link {
  font-weight: 500;
font-size: 14px;
line-height:calc(16/14);
letter-spacing: 0.02em;

color: #757575;
text-decoration: none;

}
/*HERO*/
.hero {
  width: 1600px;
height: 600px;
left: 0px;
top: 80px;
text-align: center;
  background-color: #2f303a;
}
.hero-title {
  font-family: 'Roboto' sans-serif;
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height:calc(60/44)
}

.main-button {
  font-family: 'Roboto'sans-serif;
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 1.88px;

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;

color: #FFFFFF;
margin: 0 avto;
text-align: center;
align-items: center;
background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
}

.batton-btn {
  background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;

}
.list {
    list-style: none;
     margin: 0;
    }
   .link {
    text-decoration: none;
  }
  .header-logo {
    display: flex;
    align-items: center;
  }
  .logo-link {
 
font-weight: 700;
font-size: 26px;
line-height: 1.19em;
letter-spacing: 0.03em;


 }
/* WebStudio */ 
.heder-container {
  font-family: Raleway;
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
text-decoration: none;}

 .first-part {
    color: #2196F3;
  }  
   .last-part {
    color: #000;
    
   } 
   /*Студія*/
   
   .heder-list-link  {
    font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14px;
letter-spacing: 0.02em;

color: #2196F3;
width: 45px;
height: 16px;
left: 453px;
top: 32px;
   }
   /*Портфолио*/
   .heder-list-link {
    font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14px;
letter-spacing: 0.02em;

color: #212121;
width: 72px;
height: 16px;
left: 548px;
top: 32px;
 }
 /*Контакти*/
 .heder-list-link {
  font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14px;
letter-spacing: 0.02em;

color: #212121;
 }


    
   .hero title {
    font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 1.36px;

text-align: center;


color: #FFFFFF;

    background-color: var(--background-footer-color--);
  }
  
  
  
  .main-button {
   

    font-family: Roboto;
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: calc(30/16);
 display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
cursor: pointer;


    padding: 10px 32px;
    color:var(--primary-text-color)
     
/*Heder nav*/
   
  
  



  
/*HEDER*/

heder-nav-i.tem {
  font-weight: 500;
  font-size: 14px;
  line: height 1.14em;
  letter-spacing: 0.02em;

  color: #2196f3;
}

.heder-tel-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
  color:#757575; ;

}

.heder-mail-link {
  margin-top: 0px;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
  color: #2196F3;

  /*HERO*/
  
  .hero-title {
  
font-weight: 900;
font-size: 44px;
line-height:calc(60/44);

text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;

color: #FFFFFF;





    margin: left 0; auto;
    margin-bottom: 40px;
    width: 696px;

    
  }
}
.heder-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87em;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #2196f3;
  margin-bottom: 100px;
}
.heder-btn:hover {
  
  position: absolute;
  width: 216px;
  height: 50px;
  left: 692px;
  top: 430px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
/*content*/
/*УВАГА ДО ДЕТАЛЕЙ*/
.content-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.content-title-before {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24/14);
  letter-spacing: 0.03em;
  color: #75757;
}
/* ПУНКТУАЛЬНІСТЬ */
.content-title {
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}
.content-title-before {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71em;
  letter-spacing: 0.03em;
  color: #757575;
}
/* ПЛАНУВАННЯ */
.content-title {
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.content-title-before {
  ont-weight: 400;
  font-size: 14px;
  line-height: 1.71em;
  letter-spacing: 0.03em;
  color: #757575;
}
/* СУЧАСНІ ТЕХНОЛОГІЇ */
.content-title {
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.content-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71em;
  letter-spacing: 0.03em;
  color: #757575;
}
/*Чим ми займаємося*/
.features-title {
 
  font-weight: 700;
  font-size: 36px;
  line: height 1.16em;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
/* Наша команда */
.section-lead {

}
.title-list {
  font-weight: 700;
  font-size: 36px;
  line: height 1.16em;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.footer-tel-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
  
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71px;


letter-spacing: 0.03em;

color: rgba(255, 255, 255, 0.6);
}

  /*Стилізація команди*/
  .our-team-lead {
    padding-top: 94px;
    padding-batton: 94px;
  }
  .photo-team-list {
    flex-basis:calc((100%-30px*3)/4);

  }
  .list-team-lead {
    display: flex;
    gap: 30px;
    padding: left 215px;
    padding-right: 215px;
  }
  .team-lead-name {
    padding-top: 30px;
    padding-bottom: 10px;
    border: radius 4px 0px 4px 4px;
  }
  .team-lead-skill {
    padding-bottom: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),0px 1px 1px rgba(0, 0, 0, 0.14),0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

  }
  .list-team-lead {
    flex-wrap: wrap;
  }
  /*Footer*/
  .footer {
  text-decoration: none;
    background: #2F303A}

  .address-contacts link {
    text-decoration: none;
    font-style: normal;
    background: #2F303A;
}
logo {
  text-decoration: none;
  font-family: Raleway,sans-serif;
font-style: normal;}

.first-part {
font-weight: 700;
font-size: 26px;
line-height: calc(31/26);
width: 145px;
letter-spacing: 0.03em;
color: #2196F3;
}
.last-part {
  rgba(255, 255, 255, 1);
}

  .footer-tel-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
}
  
font-family: 'Roboto'sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71px;


letter-spacing: 0.03em;
  


}


  /*Портфоліо*/
  .boxes {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;

    margin-left: -30px;
    margin-top: -30px;
  }
  .boxes> .boxes-top {
    flex-basis: calc(100%/3-30px);
    margin-left: 30px;
    margin-top: 30px;
  }
  .select-tupe:fcus {
    background-color: var(--btn-bcg-select);
    color: var(--secondary-text-color);
  }
    /*Утіліти*/
  .list {
    display:flex;
    list-style: none;
   
    padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
font-size: 14px;
line-height: 1.14rem;
letter-spacing: 0.02em;
text-decoration: none;

color: #212121;
  }
  .link {
    text-decoration: none;
  }
  .project-name {
    display:flex;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    color: var(--title-text-color);
  }
  .projct-about {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    color: var(--primary-text-color);
  }
  /*Усі */
  .batton-btn {
   
  font-weight: 500;
font-size: 16px;
line: height 1.62em;
text-align: center;
letter-spacing: 0.03em;
color: #FFFFFF;
 }
 /*Веб-сайти*/
 .batton-btn {
  font-weight: 500;
font-size: 16px;
line: height 1.62em;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
 }
 /*Додатки*/
 .batton-btn {
  font-weight: 500;
font-size: 16px;
line: height 1.62em;;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}
/*Дизайн*/
.batton-btn {
  font-weight: 500;
font-size: 16px;
line-height: 1.62em;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}
/*Маркетинг*/
.batton-btn {
  font-weight: 500;
font-size: 16px;
line-height: 1.62em;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}
/*boxes list*/
/*Технокряк*/
.boxes-title {
font-weight: 700;
font-size: 18px;
line-height: 2.0em;
letter-spacing: 0.06em;
color: #212121;
}
.boxes-text {
  font-weight: 400;
font-size: 16px;
line-height: 1.88em;
letter-spacing: 0.03em;
color: #757575;
}
/*Постер New Orlean vs Golden Star*/


.boxes-title {
  font-weight: 700;
font-size: 18px;
line-height: 2.0em;
letter-spacing: 0.06em;
color: #212121;
}
.boxes-text {
font-weight: 400;
font-size: 16px;
line-height: 1.88em
letter-spacing: 0.03em;
color: #757575;
}
/*Ресторан Seafood*/
.boxes-title {
font-weight: 700;
font-size: 18px;
line-height: 2.0em;
letter-spacing: 0.06em;
color: #212121;

}
.boxes-text {
font-weight: 400;
font-size: 16px;
line-height: 1.88em
letter-spacing: 0.03em;
color: #757575;
}
/*Проєкт Prime*/
.boxes-title {
  font-weight: 700;
font-size: 18px;
line-height: 2.0em
}


.boxes-text {
  font-weight: 400;
font-size: 16px;
line-height: 1.88em;
letter-spacing: 0.03em;
color: #757575;
}
/*Проєкт Boxes*/
.boxes-title {
  font-weight: 700;
font-size: 18px;
line-height: 2.0em;
letter-spacing: 0.06em;
color: #212121;
}
.boxes-text {
  font-weight: 400;
font-size: 16px;
line-height: 1.88em;
letter-spacing: 0.03em;
color: #757575;
}
/*Inspiration has no Borders*/
.boxes-title {
  font-weight: 700;
font-size: 18px;
line-height: 2.em;
letter-spacing: 0.06em;
color: #212121;
}
.boxes-text {
  font-weight: 400;
font-size: 16px;
line-height: 1.88em;
letter-spacing: 0.03em;
color: #757575;
}
/*Видання Limited Edition*/
.boxes-title {
  font-weight: 700;
font-size: 18px;
line-height: 2.0em;
letter-spacing: 0.06em;
color: #212121;
}
.boxes-text {
  font-weight: 400;
font-size: 16px;
line-height: 1.88em;
letter-spacing: 0.03em;
color: #757575;
}
/*Проєкт LAB*/
.boxes-title {
  font-weight: 700;
font-size: 18px;
line-height: 2.0em;
letter-spacing: 0.06em;
color: #212121;
}
.boxes-text {
  font-weight: 400;
font-size: 16px;
line-height: 1.88em;
letter-spacing: 0.03em;
color: #757575;
}
/*Growing Business*/
.boxes-title {
  font-weight: 700;
font-size: 18px;
line-height: 2.0em;
letter-spacing: 0.06em;
color: #212121;
}
.boxes-text {
  font-weight: 400;
font-size: 16px;
line-height: 1.88em;
letter-spacing: 0.03em;
color: #757575;
}
/*FOOTER*/
.address-contacts {
  font-style: normal;
  text-decoration: none;
  font-weight: 400;
font-size: 14px;
line-height: calc(24/14);

letter-spacing: 0.03em;

color: #FFFFFF;

}

.footer-mail-link {

  font-style: normal;
  font-weight: 400;
font-size: 14px;
line-height: 1.71em;;
letter-spacing: 0.03em;

.address-contacts link {
  font-style: normal;
  font-weight: 400;
font-size: 14px;
line-height: 1.71em;
letter-spacing: 0.03em;
color: var(--primary-text-color)

}





