.box {
  
  width: 500px;
  height: 100px;
 
  margin-left: auto;
  margin-right: auto;
}
:root {
  --primary-text-color: rgba(0,0.0.0.8)
  --title-text-color:#000000;
  --accent-color:#18a0fb;
}
.body {
  
  font-family: Raleway, sans-serif;
  font-family: Roboto, sans-serif;
  background: F5F5F5;
  text-decoration: none;
 
  
}

.header-logo {

  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
text-decoration: none;

color: #212121;

}
.logo-link {
  font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: calc(31/26);
letter-spacing: 0.03em;
display: block;
padding-top: 24px;
padding-bottom: 25px;

color: #2196F3;
text-decoration: none;
}

.logo-color {
  color: var(--accent-color);
  display: inline-block;
  margin-bottom: 20px;
}

.section-hero {
   width: 1600px;
height: 600px;
left: 0px;
top: 80px;
  background-color: #000;

}

.container  {
  width: 1200px;
  list-style: none;
    padding:o 15px;
    margin: 0 auto;
   } 
   .hero title {
 position: absolute;
width: 696px;
height: 120px;
left: 452px;
top: 280px;}
.h1 {

font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 1.36px;
color: #FFFFFF;

text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
  padding: 60px
}
  .list {
    list-style: none;
     margin: 0;
   
  }
  .link {
    text-decoration: none;
  }
  .header-logo {
    display: flex;
    align-items: center;
  }
  .logo-link {
 
font-weight: 700;
font-size: 26px;
line-height: 1.19em;
letter-spacing: 0.03em;

margin-left: 215px;
display: block;
padding-top: 24px;
padding-bottom: 25px;
outline: 2px solid tomato ;
 }
/* WebStudio */ 
.heder-container {
  font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
text-decoration: none;}

 .first-part {
    color: #2196F3;
  }  
   .last-part {
    color: #000;
    
   } 
   /*Студія*/
   
   .heder-list-link  {
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14px;
letter-spacing: 0.02em;

color: #2196F3;
width: 45px;
height: 16px;
left: 453px;
top: 32px;
   }
   /*Портфолио*/
   .heder-list-link {
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14px;
letter-spacing: 0.02em;

color: #212121;
width: 72px;
height: 16px;
left: 548px;
top: 32px;
 }
 /*Контакти*/
 .heder-list-link {
  font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14px;
letter-spacing: 0.02em;

color: #212121;
width: 64px;
height: 16px;
left: 670px;
top: 32px;
 }

    
   .hero title {
    font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 1.36px;

text-align: center;


color: #FFFFFF;

    background-color: var(--background-footer-color--);
  }
  
  
  
  .main-button {
   

    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: calc(30/16);
 display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
cursor: pointer;


    padding: 10px 32px;
    color:var(--primary-text-color)
    background-color: var(btn-hover-focus)
    width: 152px;
/*Heder nav*/
   
   .heder-nav.link:focus {
   color: #2196F3;
  }
  .heder-nav.link.current {
    color: var(--accent-color);
  }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*HEDER*/

.heder-nav-item {
  font-weight: 500;
  font-size: 14px;
  line: height 1.14em;
  letter-spacing: 0.02em;

  color: #2196f3;
}

.heder-tel-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
  color:#757575; ;

}

.heder-mail-link {
  margin-top: 0px;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
  color: #2196F3;

  /*HERO*/
  .section-hero .container {
    padding-top: 200px;
    padding-botton: 200px;
    text-align: center;
    background-color : #2F303A;
  }
  
  }
  .hero-title {
    font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height:calc(60/44);

text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;

color: #FFFFFF;





    margin: left 0; auto;
    margin-bottom: 40px;
    width: 696px;

    
  }
}
.heder-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87em;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #2196f3;
  margin-bottom: 100px;
}
.heder-btn:hover {
  
  position: absolute;
  width: 216px;
  height: 50px;
  left: 692px;
  top: 430px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
/*content*/
/*УВАГА ДО ДЕТАЛЕЙ*/
.content-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.content-title-before {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24/14);
  letter-spacing: 0.03em;
  color: #75757;
}
/* ПУНКТУАЛЬНІСТЬ */
.content-title {
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}
.content-title-before {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71em;
  letter-spacing: 0.03em;
  color: #757575;
}
/* ПЛАНУВАННЯ */
.content-title {
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.content-title-before {
  ont-weight: 400;
  font-size: 14px;
  line-height: 1.71em;
  letter-spacing: 0.03em;
  color: #757575;
}
/* СУЧАСНІ ТЕХНОЛОГІЇ */
.content-title {
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.content-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71em;
  letter-spacing: 0.03em;
  color: #757575;
}
/*Чим ми займаємося*/
.features-title {
 
  font-weight: 700;
  font-size: 36px;
  line: height 1.16em;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
/* Наша команда */
.section-lead {

}
.title-list {
  font-weight: 700;
  font-size: 36px;
  line: height 1.16em;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.footer-tel-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
  
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71px;


letter-spacing: 0.03em;

color: rgba(255, 255, 255, 0.6);
}

.footer-mailto-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #2196f3;
}
  /*Стилізація команди*/
  .our-team-lead {
    padding-top: 94px;
    padding-batton: 94px;
  }
  .photo-team-list {
    flex-basis:calc((100%-30px*3)/4);

  }
  .list-team-lead {
    display: flex;
    gap: 30px;
    padding: left 215px;
    padding-right: 215px;
  }
  .team-lead-name {
    padding-top: 30px;
    padding-bottom: 10px;
    border: radius 4px 0px 4px 4px;
  }
  .team-lead-skill {
    padding-bottom: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),0px 1px 1px rgba(0, 0, 0, 0.14),0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

  }
  .list-team-lead {
    flex-wrap: wrap;
  }

  /*Портфоліо*/
  .boxes {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;

    margin-left: -30px;
    margin-top: -30px;
  }
  .boxes> .boxes-top {
    flex-basis: calc(100%/3-30px);
    margin-left: 30px;
    margin-top: 30px;
  }
  .select-tupe:fcus {
    background-color: var(--btn-bcg-select);
    color: var(--secondary-text-color);
  }
    /*Утіліти*/
  .list {
    display:flex;
    list-style: none;
   
    padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
font-size: 14px;
line-height: 1.14rem;
letter-spacing: 0.02em;
text-decoration: none;

color: #212121;
  }
  .link {
    text-decoration: none;
  }
  .project-name {
    display:flex;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    color: var(--title-text-color);
  }
  .projct-about {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    color: var(--primary-text-color);
  }
  /*Усі */
  .batton-btn {
   
  font-weight: 500;
font-size: 16px;
line: height 1.62em;
text-align: center;
letter-spacing: 0.03em;
color: #FFFFFF;
 }
 /*Веб-сайти*/
 .batton-btn {
  font-weight: 500;
font-size: 16px;
line: height 1.62em;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
 }
 /*Додатки*/
 .batton-btn {
  font-weight: 500;
font-size: 16px;
line: height 1.62em;;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}
/*Дизайн*/
.batton-btn {
  font-weight: 500;
font-size: 16px;
line-height: 1.62em;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}
/*Маркетинг*/
.batton-btn {
  font-weight: 500;
font-size: 16px;
line-height: 1.62em;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}
/*boxes list*/
/*Технокряк*/
.boxes-title {
font-weight: 700;
font-size: 18px;
line-height: 2.0em;
letter-spacing: 0.06em;
color: #212121;
}
.boxes-text {
  font-weight: 400;
font-size: 16px;
line-height: 1.88em;
letter-spacing: 0.03em;
color: #757575;
}
/*Постер New Orlean vs Golden Star*/


.boxes-title {
  font-weight: 700;
font-size: 18px;
line-height: 2.0em;
letter-spacing: 0.06em;
color: #212121;
}
.boxes-text {
font-weight: 400;
font-size: 16px;
line-height: 1.88em
letter-spacing: 0.03em;
color: #757575;
}
/*Ресторан Seafood*/
.boxes-title {
font-weight: 700;
font-size: 18px;
line-height: 2.0em;
letter-spacing: 0.06em;
color: #212121;

}
.boxes-text {
font-weight: 400;
font-size: 16px;
line-height: 1.88em
letter-spacing: 0.03em;
color: #757575;
}
/*Проєкт Prime*/
.boxes-title {
  font-weight: 700;
font-size: 18px;
line-height: 2.0em
letter-spacing: 0.06em;
color:   #212121 ;
}
.boxes-text {
  font-weight: 400;
font-size: 16px;
line-height: 1.88em;
letter-spacing: 0.03em;
color: #757575;
}
/*Проєкт Boxes*/
.boxes-title {
  font-weight: 700;
font-size: 18px;
line-height: 2.0em;
letter-spacing: 0.06em;
color: #212121;
}
.boxes-text {
  font-weight: 400;
font-size: 16px;
line-height: 1.88em;
letter-spacing: 0.03em;
color: #757575;
}
/*Inspiration has no Borders*/
.boxes-title {
  font-weight: 700;
font-size: 18px;
line-height: 2.em;
letter-spacing: 0.06em;
color: #212121;
}
.boxes-text {
  font-weight: 400;
font-size: 16px;
line-height: 1.88em;
letter-spacing: 0.03em;
color: #757575;
}
/*Видання Limited Edition*/
.boxes-title {
  font-weight: 700;
font-size: 18px;
line-height: 2.0em;
letter-spacing: 0.06em;
color: #212121;
}
.boxes-text {
  font-weight: 400;
font-size: 16px;
line-height: 1.88em;
letter-spacing: 0.03em;
color: #757575;
}
/*Проєкт LAB*/
.boxes-title {
  font-weight: 700;
font-size: 18px;
line-height: 2.0em;
letter-spacing: 0.06em;
color: #212121;
}
.boxes-text {
  font-weight: 400;
font-size: 16px;
line-height: 1.88em;
letter-spacing: 0.03em;
color: #757575;
}
/*Growing Business*/
.boxes-title {
  font-weight: 700;
font-size: 18px;
line-height: 2.0em;
letter-spacing: 0.06em;
color: #212121;
}
.boxes-text {
  font-weight: 400;
font-size: 16px;
line-height: 1.88em;
letter-spacing: 0.03em;
color: #757575;
}
/*FOOTER*/

.footer-mail-link {

  font-style: normal;
  font-weight: 400;
font-size: 14px;
line-height: 1.71em;;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
text-decoration: none;
}
.address-contacts link {
  font-style: normal;
  font-weight: 400;
font-size: 14px;
line-height: 1.71em;
letter-spacing: 0.03em;
color: var(--primary-text-color)
text-decoration: none;
}





