


.body {
  

  font-family: 'Roboto', sans-serif;
  font-family: 'Raleway', sans-serif;
  margin: 0;
 
 }
 
  .container {
    width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
  }
 
 .list {
    list-style: none;
    text-decoration: none;
   }
   .link {
    text-decoration: none;
    list-style: none;
  }
  .header-logo {
  display: flex;
     align-items: center;
    font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03px;

text-decoration: none;
  }

.first-part {
  
   font-family: 'Raleway',sans-serif;
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: calc(31/26);
letter-spacing: 0.03em;
color: #2196F3;
}

.last-part {
   font-family: 'Raleway',sans-serif;
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: calc(31/26);
letter-spacing: 0.03em;
color: #000000;

}

  .header-list-item {
 
  font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: calc(16/14);
letter-spacing: 0.02em;
text-decoration: none;
}

.header-mail-list {
  font-weight: 500;
font-size: 14px;
line-height: calc(16/14);
letter-spacing: 0.02em;

color: #2196F3;
text-decoration: none;

}
.header-tel-link {
  font-weight: 500;
font-size: 14px;
line-height:calc(16/14);
letter-spacing: 0.02em;

color: #757575;
text-decoration: none;

}
/*Студія*/
 .header-list-link  {
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14px;
letter-spacing: 0.02em;

color: #2196F3;
}
/*Портфолио*/
   .header-list-iteam {
    font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14px;
letter-spacing: 0.02em;

color: #212121;

 }
 /*Контакти*/
 .header-list-link {
   font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14px;
letter-spacing: 0.02em;
color: var(--second-text-color);
}

-----------------------
/*HERO*/

.hero .container {
  width: 1230px;
 
  display: inline-block;
  padding: 20px 40px;
  color: #ffffff;
background-color: #2F303A;
padding-left: 15px
padding-bottom: 15px;

text-align: center;
display: block;
}


.hero-title {
  font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: calc(60/44);
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #ffffff;



  text-align: center;
  background-color: #2F303A;
}
.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30/16);
  display: block;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #2196f3;
  margin-bottom:0 auto;
}
    
  /*section*/
/*УВАГА ДО ДЕТАЛЕЙ*/
.section-title {
  color: var(--defaul-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;

}
.title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.content-title-before {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24/14);
  letter-spacing: 0.03em;
  color: #75757;
}


/* Наша команда */

.our-team-lead {
  padding-top: 94px;
  padding-bottom: 94px;
  font-family: 'Roboto' sans-serif;
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 1.17px;
text-align: center;
letter-spacing: 0.03em;
text-decoration: none;

color: #212121;
}

  .pfoto-team-list {
    flex-basis:calc((100%-30px*3)/4);

  }
  .list-team-lead {
    display: flex;
    gap: 30px;
    
    padding: left 215px;
    padding-right: 215px;
  }
  .team-lead-name {
    padding-top: 30px;
    padding-bottom: 10px;
    border: radius 4px 0px 4px 4px;
  }
  .team-lead-skill {
    padding-bottom: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),0px 1px 1px rgba(0, 0, 0, 0.14),0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

  }
  .list-team-lead {
    flex-wrap: wrap;
  }
  .title-list {
  font-weight: 700;
  font-size: 36px;
  line: height 1.16em;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
  /*Footer*/
  .footer {
  text-decoration: none;
    background: #2F303A}

  .address-contacts link {
    text-decoration: none;
    font-style: normal;
    background: #2F303A;
}
.logo {
  text-decoration: none;
  font-family: Raleway,sans-serif;
font-style: normal;
}

.first-part {
font-weight: 700;
font-size: 26px;
line-height: calc(31/26);
width: 145px;
letter-spacing: 0.03em;
color: #2196F3;
}
.last-part {
  rgba(255, 255, 255, 1);
}

  .footer-tel-link  {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
  list-style: none;
}
  


  /*Портфоліо*/
 
.boxes {
  position: relative;
width: 1600px;
height: 252px;
text-align: center;
text-decoration: none;

background: #FFFFFF;
    
  }
  
  
  
  .select-tupe:focus {
    background-color: var(--btn-bcg-select);
    color: var(--secondary-text-color);
  }
    /*Утіліти*/
     .portfolio-button {
      color: #212121;
      background-color: #f5f4fa;
      display: flex;
      width: 1170px;

     }
     .hero-btn:hover,
     .hero-btn:focus {
      color: #ffffff;
      background-color: var(--acent-color);
     }
    
  
  /*Усі */
  .batton-btn {
   
  font-weight: 500;
font-size: 16px;
line-height: 1.62em;
text-align: center;
letter-spacing: 0.03em;
color: #FFFFFF;
position: absolute;
background: #2196F3;
text-decoration: none;
 }
 /*Веб-сайти*/
 .batton-btn {
  font-weight: 500;
font-size: 16px;
line-height: 1.62em;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
position: absolute;
text-decoration: none;

 }
 /*Додатки*/
 .batton-btn {
  font-weight: 500;
font-size: 16px;
line-height: 1.62em;;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
text-decoration: none;
}
/*Дизайн*/
.batton-btn {
  font-weight: 500;
font-size: 16px;
line-height: 1.62em;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}
/*Маркетинг*/
.batton-btn {
  font-weight: 500;
font-size: 16px;
line-height: 1.62em;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}

/*Технокряк*/
.boxes-title {
  
font-weight: 700;
font-size: 18px;
line-height: 2.0em;
letter-spacing: 0.06em;
color: #212121;
text-decoration: none;
text-align: center;
}
.boxes-text {
  font-weight: 400;
font-size: 16px;
line-height: 1.88em;
letter-spacing: 0.03em;
color: #757575;
}
/*Постер New Orlean vs Golden Star*/


.boxes-title {
  
  font-weight: 700;
font-size: 18px;
line-height: 2.0em;
letter-spacing: 0.06em;
color: #212121;
}
.boxes-text {
font-weight: 400;
font-size: 16px;
line-height: 1.88em
letter-spacing: 0.03em;
color: #757575;
}
/*Ресторан Seafood*/
.boxes-title {
font-weight: 700;
font-size: 18px;
line-height: 2.0em;
letter-spacing: 0.06em;
color: #212121;

}
.boxes-text {
font-weight: 400;
font-size: 16px;
line-height: 1.88em
letter-spacing: 0.03em;
color: #757575;
}
/*Проєкт Prime*/
.boxes-title {
  font-weight: 700;
font-size: 18px;
line-height: 2.0em
letter-spacing: 0.06em;

}


.boxes-text {
  font-weight: 400;
font-size: 16px;
line-height: 1.88em;
letter-spacing: 0.03em;
color: #757575;
}
/*Проєкт Boxes*/
.boxes-title {
  font-weight: 700;
font-size: 18px;
line-height: 2.0em;
letter-spacing: 0.06em;
color: #212121;
}
.boxes-text {
  font-weight: 400;
font-size: 16px;
line-height: 1.88em;
letter-spacing: 0.03em;
color: #757575;
}
/*Inspiration has no Borders*/
.boxes-title {
  font-weight: 700;
font-size: 18px;
line-height: 2.em;
letter-spacing: 0.06em;
color: #212121;
}
.boxes-text {
  font-weight: 400;
font-size: 16px;
line-height: 1.88em;
letter-spacing: 0.03em;
color: #757575;
}
/*Видання Limited Edition*/
.boxes-title {
  font-weight: 700;
font-size: 18px;
line-height: 2.0em;
letter-spacing: 0.06em;
text-align: center;
color: #212121;
}
.boxes-text {
  font-weight: 400;
font-size: 16px;
line-height: 1.88em;
letter-spacing: 0.03em;
text-align: center;
color: #757575;
}
/*Проєкт LAB*/
.boxes-title {
  font-weight: 700;
font-size: 18px;
line-height: 2.0em;
letter-spacing: 0.06em;
color: #212121;
text-align: center;
}
.boxes-text {
  font-weight: 400;
font-size: 16px;
line-height: 1.88em;
letter-spacing: 0.03em;
color: #757575;
text-align: center;
}
/*Growing Business*/
.boxes-title {
  font-weight: 700;
font-size: 18px;
line-height: 2.0;
letter-spacing: 0.06em;
color: #212121;
}
.boxes-text {
  font-weight: 400;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.03em;
color: #757575;
}
/*FOOTER*/
.footer-logo {
 
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03px;
font-style: normal;

text-decoration: none;
  }

 

.first-part {
  
   font-family: 'Raleway',sans-serif;
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: calc(31/26);
letter-spacing: 0.03em;
text-decoration: none;
color: #2196F3;
}

.last-part {
   font-family: 'Raleway',sans-serif;
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: calc(31/26);
letter-spacing: 0.03em;
text-decoration: none;
color: #000000;

}
.address-contacts link {
  font-style: normal;
  text-decoration: none;
  font-weight: 400;
font-size: 14px;
line-height: calc(24/14);
letter-spacing: 0.03em;
color: #FFFFFF;

}

.footer-mail-link {

  font-style: normal;
  font-weight: 400;
font-size: 14px;
line-height: 1.71em;
text-decoration: none ;
font-style: normal;
letter-spacing: 0.03em;
}

.address-contacts link {
  font-style: normal;
  font-weight: 400;
font-size: 14px;
line-height: 1.71em;
text-decoration: none;
font-style: normal;
letter-spacing: 0.03em;
color: var(--primary-text-color)

}





