
.body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
 background-color: 
#212121;
}
.h1 {
  color: #FFFFFF;
  padding: 60px;
}
  .list {
    list-style: none;
    padding-left: 0;
    margin: 0;
   
  }
  .link {
    text-decoration: none;
  }
  .header-logo {
    display: flex;
    align-items: center;
  }
  .logo-link {
 
font-weight: 700;
font-size: 26px;
line-height: 1.19em;
letter-spacing: 0.03em;

margin-right: 93px;
display: block;
padding-top: 24px;
padding-bottom: 25px;
outline: 2px solid tomato ;
 }
/* WebStudio */ 
  .first-part {
    color: #2196F3;
  }  
   .last-part {
    color: #000;
    
   } 
   . hero .container {
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
   }
   .hero {
    background-color: var(--background-footer-color--);
  }
  .hero-title {
    margin-bottom: 30px;
    width: 696px;
    color: #ffffff;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
  .batton-btn {
    padding: 10px 32px;
    color: #ffffff;
    background-color: #2196F3;
    cursor: pointer;
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
  }
   /*Heder nav*/
   
   .heder-nav.link:focus {
   color: #2196F3;
  }
  .heder-nav.link.current {
    color: var(--accent-color);
  }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*HEDER*/

.heder-nav-item {
  font-weight: 500;
  font-size: 14px;
  line: height 1.14em;
  letter-spacing: 0.02em;

  color: #2196f3;
}

.heder-tel-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
  color:#757575; ;

}

.heder-mail-link {
  margin-top: 0px;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
  color: #2196F3;
  /*HERO*/
  .section-hero .container {
    padding-top: 200px;
    padding-botton: 200px;
    text-align: center;
  }
  .hero {
    background-color : #2F303A;
  }
  .hero-title {
    margin: left 0; auto;
    margin: right 0; auto;
    width: 696px;

    font-weight: 900;
    font-size: 44px;
    line: height 1.36em;  
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color:  #ffffff;
  }
}
.heder-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87em;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #2f303a;
}
.heder-btn:hover {
  position: absolute;
  width: 216px;
  height: 50px;
  left: 692px;
  top: 430px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
/*content*/
.content-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.content-title-before {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: #75757;
}
/* ПУНКТУАЛЬНІСТЬ */
.content-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}
.content-title-before {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71em;
  letter-spacing: 0.03em;
  color: #757575;
}
/* ПЛАНУВАННЯ */
.content-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.content-title-before {
  ont-weight: 400;
  font-size: 14px;
  line-height: 1.71em;
  letter-spacing: 0.03em;
  color: #757575;
}
/* СУЧАСНІ ТЕХНОЛОГІЇ */
.content-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.content-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71em;
  letter-spacing: 0.03em;
  color: #757575;
}
/*Чим ми займаємося*/
.features-title {
  font-weight: 700;
  font-size: 36px;
  line: height 1.16em;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
/* Наша команда */
.title-list {
  font-weight: 700;
  font-size: 36px;
  line: height 1.16em;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.footer-tel-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
}

.footer-mailto-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #2196f3;
  /*Стилізація команди*/
  .our-team-lead {
    padding-top: 94px;
    padding-batton: 94px;
  }
  .photo-team-list {
    flex-basis:calc((100%-30px*3)/4);

  }
  .list-team-lead {
    display: flex;
    gap: 30px;
    padding: left 215px;
    padding-right: 215px;
  }
  .team-lead-name {
    padding-top: 30px;
    padding-bottom: 10px;
    border: radius 4px 0px 4px 4px;
  }
  .team-lead-skill {
    padding-bottom: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),0px 1px 1px rgba(0, 0, 0, 0.14),0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

  }
  .list-team-lead {
    flex-wrap: wrap;
  }

  /*Портфоліо*/
  .select-tupe:fcus {
    background-color: var(--btn-bcg-select);
    color: var(--secondary-text-color);
  }
  /*Утіліти*/
  .list {
    display: flex;
    list-style: none;
    padding-left: 0;
    margin: 0;
  }
  .link {
    text-decoration: none;
  }
  .project-name {
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    color: var(--title-text-color);
  }
  .projct-about {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    color: var(--primary-text-color);
  }
  /*Усі */
  .batton-btn {
  font-weight: 500;
font-size: 16px;
line: height 1.62em;
text-align: center;
letter-spacing: 0.03em;
color: #FFFFFF;
 }
 /*Веб-сайти*/
 .batton-btn {
  font-weight: 500;
font-size: 16px;
line: height 1.62em;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
 }
 /*Додатки*/
 .batton-btn {
  font-weight: 500;
font-size: 16px;
line: height 1.62em;;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}
/*Дизайн*/
.batton-btn {
  font-weight: 500;
font-size: 16px;
line-height: 1.62em;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}
/*Маркетинг*/
.batton-btn {
  font-weight: 500;
font-size: 16px;
line-height: 1.62em;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}
/*project*/

.project-name {
font-weight: 700;
font-size: 18px;
line-height: 2.0em;
letter-spacing: 0.06em;
color: #212121;
}
.project-about {
  font-weight: 400;
font-size: 16px;
line-height: 1.88em;
letter-spacing: 0.03em;
color: #757575;
}
.project-name {
  font-weight: 700;
font-size: 18px;
line-height: 2.0em;
letter-spacing: 0.06em;
color: #212121;
}
.project-about {
font-weight: 400;
font-size: 16px;
line-height: 1.88em
letter-spacing: 0.03em;
color: #757575;
}
.project-name {
font-weight: 700;
font-size: 18px;
line-height: 2.0em;
letter-spacing: 0.06em;
color: #212121;

}
.project-about {
font-weight: 400;
font-size: 16px;
line-height: 1.88em
letter-spacing: 0.03em;
color: #757575;
}
.project-name {
  font-weight: 700;
font-size: 18px;
line-height: 2.0em
letter-spacing: 0.06em;
color:   #212121 ;
}
.project-about {
  font-weight: 400;
font-size: 16px;
line-height: 1.88em;
letter-spacing: 0.03em;
color: #757575;
}
.project-name {
  font-weight: 700;
font-size: 18px;
line-height: 2.0em;
letter-spacing: 0.06em;
color: #212121;
}
.project-about {
  font-weight: 400;
font-size: 16px;
line-height: 1.88em;
letter-spacing: 0.03em;
color: #757575;
}
.project-name {
  font-weight: 700;
font-size: 18px;
line-height: 2.em;
letter-spacing: 0.06em;
color: #212121;
}
.project-about {
  font-weight: 400;
font-size: 16px;
line-height: 1.88em;
letter-spacing: 0.03em;
color: #757575;
}
.project-name {
  font-weight: 700;
font-size: 18px;
line-height: 2.0em;
letter-spacing: 0.06em;
color: #212121;
}
.project-about {
  font-weight: 400;
font-size: 16px;
line-height: 1.88em;
letter-spacing: 0.03em;
color: #757575;
}
.project-name {
  font-weight: 700;
font-size: 18px;
line-height: 2.0em;
letter-spacing: 0.06em;
color: #212121;
}
.project-about {
  font-weight: 400;
font-size: 16px;
line-height: 1.88em;
letter-spacing: 0.03em;
color: #757575;
}
.project-name {
  font-weight: 700;
font-size: 18px;
line-height: 2.0em;
letter-spacing: 0.06em;
color: #212121;
}
.project-about {
  font-weight: 400;
font-size: 16px;
line-height: 1.88em;
letter-spacing: 0.03em;
color: #757575;
}
/*FOOTER*/
.footer-mail-link {
  font-weight: 400;
font-size: 14px;
line-height: 1.71em;;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}
.footer-tel-link {
  font-weight: 400;
font-size: 14px;
line-height: 1.71em;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}





